[Unit]
Description=RaspyRFM 868 MHz gateway
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=pi
WorkingDirectory=/home/pi/dev/RaspyRFM
ExecStart=/home/pi/dev/RaspyRFM/.env/bin/python3 apps/868gw.py
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
