[Unit]
Description=RaspyRFM 868 MHz gateway
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=pi
ExecStart=/home/pi/RaspyRFM/apps/868gw.py
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
