[Unit]
Description=RaspyRFM RC pulse gateway
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=pi
ExecStart=/home/pi/dev/rfmgithub/apps/rcpulsegw.py
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
